body,
html {
  width: 100%;
  height: 100%; 
  font-family: 'Roboto', sans-serif;
}
.navbar-light .navbar-brand  {
	font-family: 'Roboto', sans-serif;
    color: white;
}
.form-inlne{
	color: white;
	font-weight: 500;
}
.startup {
  background-position: center;
  background-image: url("../images/banner.jpg");
/*  background-color: rgba(158, 167, 167, 0.85);*/
  background-size: cover;
  height: 1500%;
  width: 100%;
  padding-top: 6%;
  padding-bottom: 10%;
}

.title1{
	font-size: 2rem;
	text-align:center;
	padding-right: 20%;
	padding-top:15%;
	background: rgba(43, 148, 154, 0.37);
	padding: 6% 14%;
	border-radius: 15px;
	color: white;

}

.navbar-light {
	background: #2b949a;
	padding-right: 70px;
}

footer{
	background: #2b949a;
	color: white;
	position: fixed;
	bottom: 0;
	width: 100%

}

.brand{

	font-size: 2em;
	font-weight: 700;
}

.register{
	background: rgba(43, 148, 154, 0.37);
	padding: 7%;
	border-radius: 15px;
	color: white;

	text-align:center;

}
#maindetails{
	font-size: 0.7em;

}

.col-lg-8 {
	padding: 6%;
}

.col-lg-4{
	padding: 6%;
}

.btn  {
	background: #305254  ;
	color: white !important;
	border-color: green;
}
.btn-primary:hover{
	background: green;
}

body,
html {
  width: 100%;
  height: 100%; 
  font-family: 'Roboto', sans-serif;
  background: #e6efe9;
}
.navbar{
	background: #2b949a;
	padding-right: 70px;
}
.navbar-light .navbar-brand  {
	font-family: 'Roboto', sans-serif;
    color: white;
}
.brand{

	font-size: 2em;
	font-weight: 700;
}


footer{
	background: #2b949a;
	color: white;
}
.card{
	margin-left: 4%;
	margin-right: 4%;
	margin-top:6%;
	padding:5%;
	/*padding-top: 5%;
	padding-right: 2%;
	padding-left: 3%;*/
}
.col-12{
	padding-bottom: 3%;
}
.dropdown-toggle::after {
    content: none;
}

.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}

div.row {
	margin-right: 0px;
    margin-left: 0px;
}
div.card.gedf-card{
	margin-top: 3%;
	margin-bottom: 2%;
}