<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Zava : Circles</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
      <!-- <link rel="stylesheet" href="../icons/fontawesome-free-5.9.0-web/all.css"> -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="../css/style.css">
   </head>
   <body>
      <header>
         <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand brand" href="home.html">ZAVA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <!--  <form class="form-inline ml-3">
               <input class="form-control ml-sm-2" type="search" placeholder="Search" aria-label="Search">
               <button class="btn btn-outline-success ml-sm-2 my-2 my-sm-0" type="submit">Search</button>
               </form> -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <form class="form-inline" action="search.html">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
               </form>
               <ul class="navbar-nav ml-lg-auto mr-lg-0">
                  <li class="nav-item dropdown pt-2 mr-2">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <span style="font-size: 1.5em; color: white;">
                     <i class="fas fa-comment-dots"></i>
                     </span>
                     </a>
                     <div class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">contact people</a>
                        <div class="dropdown-divider"></div>
                        <input class="form-control ml-sm-0" type="search" placeholder="Search" aria-label="Search">
                        <div class="d-inline-flex p-2"><span style="font-size: 20px; color: grey;">
                           <i class="fas fa-user-circle "></i>
                           </span><a class="dropdown-item" href="#">Person 1</a>
                        </div>
                        <div class="d-inline-flex p-2"><span style="font-size: 20px; color: grey;">
                           <i class="fas fa-user-circle "></i>
                           </span><a class="dropdown-item" href="#">Person 2</a>
                        </div>
                        <div class="d-inline-flex p-2"><span style="font-size: 20px; color: grey;">
                           <i class="fas fa-user-circle "></i>
                           </span><a class="dropdown-item" href="#">Person 3</a>
                        </div>
                        <div class="d-inline-flex p-2"><span style="font-size: 20px; color: grey;">
                           <i class="fas fa-user-circle "></i>
                           </span><a class="dropdown-item" href="#">Person 4</a>
                        </div>
                     </div>
                  </li>
                  <li class="nav-item dropdown pt-2 mr-2">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <span style="font-size: 1.5em; color: white;">
                     <i class="fas fa-bell"></i>
                     </span>
                     </a>
                     <div class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Notification</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">notification 1</a>
                        <a class="dropdown-item" href="#">notification 2</a>
                     </div>
                  </li>
                  <li class="nav-item dropdown mr-2">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <span style="font-size: 35px; color: white;">
                     <i class="fas fa-user-circle"></i>
                     </span>
                     </a>
                     <div class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="profile.html">Username</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="../index.html">Logout</a>
                     </div>
                  </li>
               </ul>
            </div>
            </div>
         </nav>
      </header>
      <!-- container 1 -->
      <div class="container-fluid profile">
         <div class="row">
            <div class="col-lg-2 card-profile-left" >
               <div>
                  <div class="card">
                     <article class="card-group-item">
                        <header class="card-header">
                           <h6 class="title">Go To </h6>
                        </header>
                        <div class="filter-content">
                           <div class="list-group list-group-flush">
                              <a href="profile.html" class="list-group-item dropdown-item"> Profile</a>
                              <a href="friends.html" class="list-group-item dropdown-item">Friends <span class="float-right badge badge-light round">142</span> </a>
                              <a href="friends.html" class="list-group-item dropdown-item">Friend Requests<span class="float-right badge badge-light round">3</span>  </a>
                              <a href="circles.html" class="list-group-item dropdown-item">Circles <span class="float-right badge badge-light round">32</span>  </a>
                              <a href="circles.html" class="list-group-item dropdown-item">Circle requests<span class="float-right badge badge-light round">12</span>  </a>
                           </div>
                           <!-- list-group .// -->
                        </div>
                     </article>
                     <!-- card-group-item.// -->
                     <article class="card-group-item">
                        <header class="card-header">
                           <h6 class="title">Your circles</h6>
                        </header>
                        <div class="filter-content">
                           <div class="card-body">
                              <div class="d-inline-flex p-2 wrapper">
                                 <a href="circlesprofile.html" >
                                    <span  style="font-size: 25px; color: grey">
                                       <i class="fas fa-circle-notch"> </i>
                                       <p style="font-size: 12px ;color: grey;">circle 1</p>
                                    </span>
                                 </a>
                              </div>
                              <div class="d-inline-flex p-2 wrapper">
                                 <a href="">
                                    <span  style="font-size: 25px; color: green">
                                       <i class="fas fa-circle-notch"> </i>
                                       <p style="font-size: 12px ;color: grey;">circle 2</p>
                                    </span>
                                 </a>
                              </div>
                              <div class="d-inline-flex p-2 wrapper">
                                 <a href="">
                                    <span  style="font-size: 25px; color: yellow">
                                       <i class="fas fa-circle-notch"> </i>
                                       <p style="font-size: 12px ;color: grey;">circle 3</p>
                                    </span>
                                 </a>
                              </div>
                              <div class="d-inline-flex p-2 wrapper">
                                 <a href="">
                                    <span  style="font-size: 25px; color: tan">
                                       <i class="fas fa-circle-notch"> </i>
                                       <p style="font-size: 12px ;color: grey;">circle 4</p>
                                    </span>
                                 </a>
                              </div>
                              <div class="d-inline-flex p-2 wrapper">
                                 <a href="">
                                    <span  style="font-size: 25px; color: purple">
                                       <i class="fas fa-circle-notch"> </i>
                                       <p style="font-size: 12px ;color: grey;">circle 5</p>
                                    </span>
                                 </a>
                              </div>
                           </div>
                           <!-- card-body.// -->
                        </div>
                     </article>
                     <!-- card-group-item.// -->
                  </div>
                  <!-- card.// -->
               </div>
            </div>
            <div class="col-lg-8 card-profile-center ">
               <nav class="container">
                  <ol class="breadcrumb">
                     <li class="breadcrumb-item">Home</li>
                     <li class="breadcrumb-item active" aria-current="page">Circles</li>
                  </ol>
               </nav>
               <div class="card">
                  <!--     <div class="card-body"> -->
                  <div class="input-group">
                     <input type="text" class="form-control" placeholder="Search">
                     <div class="input-group-append">
                        <button class="btn btn-secondary" type="button">
                        <i class="fa fa-search"></i>
                        </button>
                     </div>
                  </div>
                  <div class="card-body">
                     <header>
                        <h4>Requests</h4>
                     </header>
                     <form>
                        <div class="d-flex p-2 search-border">
                           <span  style="font-size: 35px; color: grey"><i class="fas fa-circle-notch"></i></span>
                           <p class="search-inline">
                              <a href="#">Circle 1</a> <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi hic sapiente, dolor. Atque laudantium unde, vitae quas officia error aspernatur vel voluptatibus quis tempora itaque fugiat inventore aperiam, veritatis deleniti. 
                           </p>
                        </div>
                        <div class="d-flex p-2 search-border">
                           <span  style="font-size: 35px; color: grey"><i class="fas fa-circle-notch"></i></span>
                           <p class="search-inline">
                              <a href="#">Circle 2</a> <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi hic sapiente, dolor. Atque laudantium unde, vitae quas officia error aspernatur vel voluptatibus quis tempora itaque fugiat inventore aperiam, veritatis deleniti. 
                           </p>
                        </div>
                        <div class="d-flex p-2 search-border">
                           <span  style="font-size: 35px; color: grey"><i class="fas fa-circle-notch"></i></span>
                           <p class="search-inline">
                              <a href="#">Circle 3</a> <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi hic sapiente, dolor. Atque laudantium unde, vitae quas officia error aspernatur vel voluptatibus quis tempora itaque fugiat inventore aperiam, veritatis deleniti. 
                           </p>
                        </div>
                     </form>
                  </div>
                  <div class="card-body">
                     <header>
                        <h4>Circles</h4>
                     </header>
                     <form>
                        <div class="d-flex p-2 search-border">
                           <span  style="font-size: 35px; color: grey"><i class="fas fa-circle-notch"></i></span>
                           <p class="search-inline">
                              <a href="#">Circle 1</a> <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi hic sapiente, dolor. Atque laudantium unde, vitae quas officia error aspernatur vel voluptatibus quis tempora itaque fugiat inventore aperiam, veritatis deleniti. 
                           </p>
                        </div>
                        <div class="d-flex p-2 search-border">
                           <span  style="font-size: 35px; color: grey"><i class="fas fa-circle-notch"></i></span>
                           <p class="search-inline">
                              <a href="#">Circle 2</a> <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi hic sapiente, dolor. Atque laudantium unde, vitae quas officia error aspernatur vel voluptatibus quis tempora itaque fugiat inventore aperiam, veritatis deleniti. 
                           </p>
                        </div>
                        <div class="d-flex p-2 search-border">
                           <span  style="font-size: 35px; color: grey"><i class="fas fa-circle-notch"></i></span>
                           <p class="search-inline">
                              <a href="#">Circle 3</a> <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi hic sapiente, dolor. Atque laudantium unde, vitae quas officia error aspernatur vel voluptatibus quis tempora itaque fugiat inventore aperiam, veritatis deleniti. 
                           </p>
                        </div>
                        <div class="d-flex p-2 search-border">
                           <span  style="font-size: 35px; color: grey"><i class="fas fa-circle-notch"></i></span>
                           <p class="search-inline">
                              <a href="#">Circle 4</a> <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi hic sapiente, dolor. Atque laudantium unde, vitae quas officia error aspernatur vel voluptatibus quis tempora itaque fugiat inventore aperiam, veritatis deleniti. 
                           </p>
                        </div>
                        <div class="d-flex p-2 search-border">
                           <span  style="font-size: 35px; color: grey"><i class="fas fa-circle-notch"></i></span>
                           <p class="search-inline">
                              <a href="#">Circle 5</a> <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi hic sapiente, dolor. Atque laudantium unde, vitae quas officia error aspernatur vel voluptatibus quis tempora itaque fugiat inventore aperiam, veritatis deleniti. 
                           </p>
                        </div>
                        <div class="d-flex p-2 search-border">
                           <span  style="font-size: 35px; color: grey"><i class="fas fa-circle-notch"></i></span>
                           <p class="search-inline">
                              <a href="#">Circle 6</a> <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi hic sapiente, dolor. Atque laudantium unde, vitae quas officia error aspernatur vel voluptatibus quis tempora itaque fugiat inventore aperiam, veritatis deleniti. 
                           </p>
                        </div>
                        <div class="d-flex p-2 search-border">
                           <span  style="font-size: 35px; color: grey"><i class="fas fa-circle-notch"></i></span>
                           <p class="search-inline">
                              <a href="#">Circle 7</a> <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi hic sapiente, dolor. Atque laudantium unde, vitae quas officia error aspernatur vel voluptatibus quis tempora itaque fugiat inventore aperiam, veritatis deleniti. 
                           </p>
                        </div>
                        <div class="d-flex p-2 search-border">
                           <span  style="font-size: 35px; color: grey"><i class="fas fa-circle-notch"></i></span>
                           <p class="search-inline">
                              <a href="#">Circle 8</a> <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi hic sapiente, dolor. Atque laudantium unde, vitae quas officia error aspernatur vel voluptatibus quis tempora itaque fugiat inventore aperiam, veritatis deleniti. 
                           </p>
                        </div>
                        <div class="d-flex p-2 search-border">
                           <span  style="font-size: 35px; color: grey"><i class="fas fa-circle-notch"></i></span>
                           <p class="search-inline">
                              <a href="#">Circle 9</a> <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi hic sapiente, dolor. Atque laudantium unde, vitae quas officia error aspernatur vel voluptatibus quis tempora itaque fugiat inventore aperiam, veritatis deleniti. 
                           </p>
                        </div>
                        <div class="d-flex p-2 search-border">
                           <span  style="font-size: 35px; color: grey"><i class="fas fa-circle-notch"></i></span>
                           <p class="search-inline">
                              <a href="#">Circle 10</a> <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi hic sapiente, dolor. Atque laudantium unde, vitae quas officia error aspernatur vel voluptatibus quis tempora itaque fugiat inventore aperiam, veritatis deleniti. 
                           </p>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
            <div class="col-lg-2 card-profile-right ">
               <div class="card">
                  <article class="card-group-item">
                     <header class="card-header">
                        <h6 class="title">Suggested friends </h6>
                     </header>
                     <div class="filter-content">
                        <div class="card-body">
                           <form>
                              <div class="d-flex p-2"><span style="font-size: 25px; color: grey;">
                                 <i class="fas fa-user-circle "></i>
                                 </span><a class="dropdown-item" href="#">Person 1</a>
                              </div>
                              <div class="d-flex p-2"><span style="font-size: 25px; color: grey;">
                                 <i class="fas fa-user-circle "></i>
                                 </span><a class="dropdown-item" href="#">Person 2</a>
                              </div>
                              <div class="d-flex p-2"><span style="font-size: 25px; color: grey;">
                                 <i class="fas fa-user-circle "></i>
                                 </span><a class="dropdown-item" href="#">Person 3</a>
                              </div>
                              <div class="d-flex p-2"><span style="font-size: 25px; color: grey;">
                                 <i class="fas fa-user-circle "></i>
                                 </span><a class="dropdown-item" href="#">Person 4</a>
                              </div>
                           </form>
                        </div>
                        <!-- card-body.// -->
                     </div>
                  </article>
                  <!-- card-group-item.// -->
                  <article class="card-group-item">
                     <header class="card-header">
                        <h6 class="title">suggested Circles </h6>
                     </header>
                     <div class="filter-content">
                        <div class="card-body">
                           <div class="d-flex p-2">
                              <span  style="font-size: 25px; color: grey"><i class="fas fa-circle-notch"></i></span><a class="dropdown-item" href="#">Circle 1</a>
                           </div>
                           <div class="d-flex p-2">
                              <span  style="font-size: 25px; color: green"><i class="fas fa-circle-notch"> </i></span><a class="dropdown-item" href="#">Circle 2</a>
                           </div>
                           <div class="d-flex p-2">
                              <span  style="font-size: 25px; color: yellow"><i class="fas fa-circle-notch"> </i></span><a class="dropdown-item" href="#">Circle 3</a>
                           </div>
                           <div class="d-flex p-2">
                              <span  style="font-size: 25px; color: tan"><i class="fas fa-circle-notch"> </i></span><a class="dropdown-item" href="#">Circle 4</a>
                           </div>
                           <div class="d-flex p-2">
                              <span  style="font-size: 25px; color: purple"><i class="fas fa-circle-notch"></i></span><a class="dropdown-item" href="#">Circle 5</a> 
                           </div>
                        </div>
                        <!-- card-body.// -->
                     </div>
                  </article>
                  <!-- card-group-item.// -->
               </div>
               <!-- card.// -->
            </div>
         </div>
      </div>
      </div>
      </div>
      <footer id="footer">
         <div class="footer-copyright text-center py-3">© 2019 Copyright Zava</div>
      </footer>
   </body>
</html>