 <!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/profile.css">
</head>
<body>
  
    <div class="container bg-theme topcard-padding">
        <!-- <div class="profile-bg">
            <img src="../images/profile bg.jpeg" class="img-fluid profile-bg" alt="Responsive image">
        </div> -->
        <div class="card theme topcard-rounded">
            <div class="card-body topcard-rounded " id="profile-image" >
                <img src="../images/profile bg.jpeg" class="image-profile-bg topcard-rounded" alt="profile bg image">
            </div>
            <div class="card-body">
                <img src="../images/profile.jpg" class="image-profile rounded" alt="profile image">
            </div>
            <div class="card-body theme profile-name" id="name">
              <h1>  Siva Karthikeyan</h1>
            <p>Working at Tarento technologies</p>
            </div>
        </div>
      <div class="card card-margin theme">
           <div class="card-body border-bottom">
              <h3 class="heading">Experience:</h3>
              <p>Worked at Google Incorporation for 2 years</p>
              <p>2017-2019</p>
           </div>
           <div class="card-body">
                  <h3>Education:</h3>
                  <p>Dr.Sivanthi Aditanar college of Engineering</p>
                  <p>B.E.,Computer Science</p>
                  <p>2013-2017</p>
           </div>
      </div>
      <div class="card card-margin theme" id="accomplishments">
           <div class="card-body ">
              <h3>Accomplishments: </h3>
              <div class="border card-highlight" >
                  <h4>Project</h4>
                  <p>Digital Image Processing:Satellite Images</p>
              </div>
            </div>
      </div> <!-- accomplishments -->
      <div class="row">
         <div class="col-sm-6 ">
            <div class="card card-margin theme">
                <div class="card-body">
                    <h3>Skills:</h3>
                         <ul>
                            <li>Java</li>
                            <li>C++</li>
                            <li>HTML</li>
                          </ul>
                </div>  
            </div>            
        </div>
         <div class="col-sm-6 ">
            <div class="card card-margin theme">
                <div class="card-body">
                     <h3>Tools Known:</h3>
                           <ul>
                              <li>Eclipse</li>
                              <li>Sublime</li>
                              <li>Selenium</li>
                          </ul>
                </div>
            </div>
         </div>   <!-- col lg 6 end --> 
      </div> <!-- row -->
     <div class="card card-margin theme">
           <div class="card-body">
              <h3>Interests: </h3>
                  <ul>
                      <li>
                          <p>Digital image Processing: Satellite images</p>
                      </li>
                      <li>
                          Web Development
                      </li>
                  </ul>
            </div>
      </div> <!-- interests -->
    </div> <!-- container -->


</body>
</html>