<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Zava : Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/test.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<!-- <link rel="stylesheet" href="../icons/fontawesome-free-5.9.0-web/all.css"> -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</head>


<!-- <div class="btn-group">
	<button id="btnGroupDrop1" type="button" class="btn btn1 btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
	aria-expanded="false">
	<i class="fa fa-globe"></i>hello
</button>
<div class="dropdown-menu dp1 dropdown-menu-right" aria-labelledby="btnGroupDrop1">
	<a class="dropdown-item dp1" href="#"><i class="fa fa-globe"></i> Public</a>
	<a class="dropdown-item dp1" href="#"><i class="fa fa-users"></i> Friends</a>
	<a class="dropdown-item dp1" href="#"><i class="fa fa-user"></i> Just me</a>
</div>
</div>

<script>
	$(".dp1 a").click(function(){
		
		$(".btn1:first-child").html($(this).text()+' <i class="fa fa-globe"></i>');
		
	});
</script> -->
<!-- 
<div class="content-profile-page">
   <div class="profile-user-page card">
      <div class="img-user-profile">
        <img class="profile-bgHome" src="../images/coverprofile.jpg" />
        <img class="avatar" src="../images/profile.jpg" alt="naveen"/>
           </div>

          <div class="user-profile-data">
            <h1>Naveen Pandurangi</h1>
            <p>I am a person who loves to code, seeking for an opportunity to utilize my knowledge and learn more. I like to be a part of new and upcoming technology to make myself updated. My Interests are Web Development and Application Development.</p>
          </div> 
       <ul class="data-user">
        <li><a><strong>99999</strong><span>Friends</span></a></li>
        <li><a><strong>999999</strong><span>Circles</span></a></li>
 
       </ul>
      </div>
    </div> -->



<div class="card">
	    <figure class="snip1519">
  <figcaption><i class="ion-ios-rose-outline"></i>
    <h3>Marketing</h3>
    <p>If you do the job badly enough, sometimes you don't get asked to do it again.</p><a href="#" class="button">Read More</a>
  </figcaption>
</figure>
</div>
<div class="card">
	<figure class="snip1519">
  <figcaption><i class="ion-ios-paw-outline"></i>
    <h3>Web Design</h3>
    <p>I'm killing time while I wait for life to shower me with meaning and happiness.</p><a href="#" class="button">Read More</a>
  </figcaption>
</figure>
</div>
<div class="card">
	<figure class="snip1519">
  <figcaption><i class="ion-ios-flame-outline"></i>
    <h3>Data Encryption</h3>
    <p>The only skills I have the patience to learn are those that have no real application in life. </p><a href="#" class="button">Read More</a>
  </figcaption>
</figure>
</div>



